body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    height: 100vh;
    margin: 0;
    
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.navbar-brand{
    margin-left: 5%;
    min-width: 44px;
    min-height: 44px;
}

.btn{
    min-width: 44px;   
    min-height: 44px;
    font-size: calc(0.6em + 0.5vw)
}

.title{
    margin-top: 5%;
    text-align: center;
    font-size: 3em;
}

.signin-signup-box{
    margin: 2rem auto;
    padding: 2rem;
    background-color: rgb(245, 245, 245);
    border-radius: 25px;
    box-shadow: 0 10px 16px rgba(0, 0, 0, 0.1);
}

.signup-box h3{
    text-align: center;
    margin-bottom: 1rem;
}

form{
    margin: 0;
}

.message {
    margin: 1rem 0;
}

.success{
    color: rgb(0, 162, 0);
}
.error{
    color: red;
}

.container{
    max-width: 1200px;
    margin: auto;
}
.card{
    height: auto;
}

.btn-hollow{
    background-color: blue;
    color: white;
    border: 2px solid white;
    margin-right: 15px;
}

.btn-new-band:hover{
    background-color:white;
    color: blue;
    border-color: blue;
}

.nav-buttons{
    margin: 15px;
}

.new-band{
    margin: 2rem auto;
}

.standard-btn{
    background-color: blue;
}

.deadline{
    color: grey
}

.feed{
    max-width: 40%;
}

.card-interacts{
    margin-top: 25px;
}

.post-img{
    border-radius: 10px;
    margin-bottom: 20px;
}

.like{
    color: blue;
}

.btn-regint{
    background-color: white;
    color: blue;
    border: 2px solid blue;
}
.btn-regint:hover{
    background-color: blue;
    color: white;
}