{% extends 'navbar_template.html' %}

{% block content %}
    <head>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    </head>
    <div class="container-fluid feed">
        {% if session.logged_in %}
            <h1>Posts for you</h1>
                <p>These are posts which match your tag preferences.</p>
                {% if matching_tag_posts %}
                    <div class="row">
                        {% for post in matching_tag_posts %}
                            <div class="col-12">
                                <div class="card mb-3">
                                    <div class="card-body">
                                        <div class="pfp-and-name">
                                            <img src="{{ post.profile_picture }}" class="post-pfp" alt="...">
                                            <h2 class="card-title">{{ post.author }}</h2>
                                        </div>
                                        <p class="card-text">{{ post.content }}</p>
                                            {% if post.image %}<img src="{{ post.image }}" class="card-img-top post-img" alt="...">{% endif %}
                                            <div class="card-interacts">
                                                {% for tag in post.tags %}
                                                    <span class="tag">
                                                        <span class="tag-icon"><i class="bi bi-hash"></i></span>
                                                        {{ tag }}
                                                    </span>
                                                {% endfor %}
                                            <div class="like-container">
                                                <i class="bi {{ 'bi-heart-fill' if post.liked else 'bi-heart' }} like" data-post-id="{{ post.id }}"></i>
                                                <span class="like-count">{{ post['like_count'] }}</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                </div>
            {% else %}
                <p>No posts match your tags.</p>
            {% endif %}
        {% endif %}


        <h1>Feed</h1>
        {% if feed_items %}
            <div class="row">
                {% for item in feed_items %}
                    <div class="col-12">
                        <div class="card mb-3">
                            <div class="card-body">
                                {% if item.type == "post" %}
                                    <div class="pfp-and-name">
                                        <img src="{{ item.profile_picture }}" class="post-pfp" alt="...">
                                        <h2 class="card-title">{{ item.author }}</h2>
                                    </div>
                                    <p class="card-text">{{ item.content }}</p>
                                    {% if item.image %}<img src="{{ item.image }}" class="card-img-top post-img" alt="...">{% endif %}
                                    <div class="card-interacts">
                                        {% if item.tags %}
                                            {% for tag in item.tags %}
                                                <span class="tag">
                                                    <span class="tag-icon"><i class="bi bi-hash"></i></span>
                                                    {{ tag }}
                                                </span>
                                            {% endfor %}
                                        {% else %}
                                            <span class="empty-tag">
                                                No tag
                                            </span>
                                        {% endif %}
                                        <div class="like-container">
                                            <i class="bi {{ 'bi-heart-fill' if item.liked else 'bi-heart' }} like" post-id="{{ item.id }}"></i>
                                            <span class="like-count">{{ item['like_count'] }}</span>
                                        </div>
                                    </div>
                                {% elif item.type == "bandad" %}
                                    <p class="card-text deadline" style="text-align: right; float: right;"> Expires {{ item.formatted_deadline }}</p>
                                    <h2 class="card-title"><strong>{{ item.band_name }}</strong> are looking for a <strong>{{ item.lookingfor }}</strong></h2>
                                    <div class="card-interacts">
                                        {% if item.admin %}
                                            <a class="btn btn-primary" href="/band_ad/{{ item.id }}/registered_interests">View interested users</a>
                                        {% else %}
                                            <button class="btn btn-regint" ad-id="{{ item.id }}" {{ 'disabled' if item.interested }}>
                                                {{ 'Interest registered' if item.interested else 'Register Interest' }}
                                                <i class="bi bi-check-square" style="margin-left: 10px;"></i>
                                            </button>
                                        {% endif %}
                                    </div>
                                
                                {% endif %}
                            </div>
                        </div>
                    </div>
            {% endfor %}
            </div>
        {% else %}
            <p>No posts yet.</p>
        {% endif %}
    </div>
{% endblock %}
