<!DOCTYPE html>
<html lang="en-gb">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
        <title>BandBuddy</title>
        <link rel="stylesheet" href="static/css/style.css">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
        <script src="{{ url_for('static', filename='js/script.js') }}"></script>
    </head>
    <body>
        <nav class="navbar navbar-expand-lg" style="background-color: blue; width: 100%; padding: 0;">
            <div class="container-fluid">
                <a class="navbar-brand text-white" href="/"><h1>BandBuddy</h1></a>
                <div class="d-flex">
                    {% if session.logged_in %}
                        <div class="nav-buttons">
                            <a class="btn btn-hollow" href="/newpost">Create post<i class="bi bi-pencil-square" style="margin-left: 10px;"></i></a>
                            <a class="btn btn-hollow" href="/newbandad">Create bandAd<i class="bi bi-megaphone-fill" style="margin-left: 10px;"></i></a>
                            <a class="btn btn-hollow" href="/newband">Create band<i class="bi bi-people-fill" style="margin-left: 10px;"></i></a>
                            <a class="btn btn-light" href="/logout" style ="color: blue;">Log out<i class="bi bi-box-arrow-right" style="margin-left: 10px;"></i></a>
                        </div>
                        
                    {% else %}
                        <a class="btn btn-light" href="/signin" style ="margin: 15px; color: blue;">Sign in/Sign up</a>
                    {% endif %}
                </div>
            </div>
        </nav>
        <div class="container mt-5 feed">
            <h1 class="mb-4">Feed</h1>
            {% if feed_items %}
                {% for item in feed_items %}
                    {% if item.type == "post" %}
                        <div class="card mb-4">
                            <div class="card-body">
                                <h2 class="card-title">{{ item.author }}</h2>
                                <p class="card-text">{{ item.content }}</p>
                                {% if item.image %}<img src="{{ item.image }}" class="card-img-top post-img" alt="...">{% endif %}
                                <div class="card-interacts">
                                    <i class="bi {{ 'bi-heart-fill' if item.liked else 'bi-heart' }} like" post-id="{{ item.id }}"></i>
                                    <span class="like-count">{{ item['like_count'] }}</span>
                                </div>
                            </div>
                        </div>
                    {% elif item.type == "bandad" %}
                        <div class="card mb-4">
                            <div class="card-body">
                                <p class="card-text deadline" style="text-align: right; float: right;"> Expires {{ item.formatted_deadline }}</p>
                                <h2 class="card-title"><strong>{{ item.band_name }}</strong> are looking for a <strong>{{ item.lookingfor }}</strong></h2>
                                <div class="card-interacts">
                                    {% if item.admin %}
                                        <a class="btn btn-primary" href="/band_ad/{{ item.id }}/registered_interests">View interested users</a>
                                    {% else %}
                                        <button class="btn btn-regint" ad-id="{{ item.id }}" {{ 'disabled' if item.interested }}>
                                            {{ 'Interest registered' if item.interested else 'Register Interest' }}
                                            <i class="bi bi-check-square" style="margin-left: 10px;"></i>
                                        </button>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                            
                    {% endif %}
                {% endfor %}
            {% else %}
                <p>No posts yet.</p>
            {% endif %}
        </div>
    </body>
</html>