{% extends "navbar_template.html" %}
{% block content %}
    <body>
        <div class="container mt-4">
            <h2>Interested users</h2>
            <div class="list-group">
                {% for item in feed_items %}
                    <div class="list-group-item">
                        <h3 class="mb-1">{{ item.user }}</h3>
                        <small class="text-muted">Interested on {{ item.date }}</small>
                    </div>
                {% endfor %}
            </div>
        </div>
    </body>
{% endblock %}