{% extends "navbar_template.html" %}
{% block content %}
    <div class="new-band">
        {% if title=="New band" or title=="Edit band" %}
            <form action="" method="post" name="new_band">
                {{ form.hidden_tag() }}
                <h2>{{ title }}</h2>
                <div class="mb-3">
                    {{ form.name.label(class="form-label") }}
                    {{ form.name(class="form-control") }}
                </div>
                <div class="mb-3">
                    {{ form.description.label(class="form-label") }}
                    {{ form.description(class="form-control") }}
                </div>
                <div class="mb-3">
                    {{ form.genre.label(class="form-label") }}
                    {{ form.genre(class="form-control") }}
                </div>
                {{ form.submit(class="btn btn-primary") }}
            </form>
        {% elif title=="New post" %}
            <form action="" method="post" name="new_post">
                {{ form.hidden_tag() }}
                <h2>{{ title }}</h2>
                <div class="mb-3">
                    {{ form.content.label(class="form-label") }}
                    {{ form.content(class="form-control") }}
                </div>
                <div class="mb-3">
                    {{ form.image.label(class="form-label") }}
                    {{ form.image(class="form-control") }}
                </div>
                <div class="mb-3">
                    {{ form.tag.label(class="form-label") }}
                    {{ form.tag(class="form-control") }}
                </div>
                {{ form.submit(class="btn btn-primary") }}
            </form>
        {% elif title=="New ad" %}
            <form action="" method="post" name="new_ad">
                {{ form.hidden_tag() }}
                <h2>{{ title }}</h2>
                <div class="mb-3">
                    {{ form.band.label(class="form-label") }}
                    {{ form.band(class="form-control") }}
                </div>
                <div class="mb-3">
                    {{ form.lookingfor.label(class="form-label") }}
                    {{ form.lookingfor(class="form-control") }}
                </div>
                <div class="mb-3">
                    {{ form.deadline.label(class="form-label") }}
                    {{ form.deadline(class="form-control") }}
                </div>
                {{ form.submit(class="btn btn-primary") }}
            </form>
        {% endif %}
    </div>
{% endblock %}